<div class="fluid-container">
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="item1 active"></li>
      <li class="item2"></li>
      <li class="item3"></li>
      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
       <img src="../static/img/image3.JPG" class="img-responsive">
        <div class="carousel-caption">
          <div class="head">
              <h1>Imperfections Resonated</h1>
              <p >-An ode to the silent wondering of heart</p>
               <a href="https://www.instagram.com/imperfections_resonated" class="btn btn-warning">FOLLOW ME</a>
          </div>
          <div class="quotes">
            Fiction is the truth inside the lie
          </div>


        </div>
      </div>

      <div class="item active">
        <img src="../static/img/image1.JPG" class="img-responsive">
        <div class="carousel-caption">
          <div class="head">
              <h1>Imperfections Resonated</h1>
         
              <p >-An ode to the silent wondering of heart</p>
               <a href="https://www.instagram.com/imperfections_resonated" class="btn btn-warning">FOLLOW ME</a>
          </div>
          <div class="quotes">
            Painting is poetry that is seen rather than felt and poetry is painting that is felt rather than seen
          </div>


        </div>
      </div>
    
      <!-- <div class="item">
        <img src="../static/img/image3.JPG" alt="Flower" width="100%" height="600px">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beautiful flowers in Kolymbari, Crete.</p>
        </div>
      </div> -->

      <div class="item">
        <img src="../static/img/image4.JPG" class="img-responsive" >
        <div class="carousel-caption">
          <div class="head">
              <h1>Imperfections Resonated</h1>
         
              <p >-An ode to the silent wondering of heart</p>
               <a href="https://www.instagram.com/imperfections_resonated" class="btn btn-warning">FOLLOW ME</a>
          </div>
          <div class="quotes">
            Every deep thinker is more afraid of being understood than of being misunderstood.
          </div>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<script>
$(document).ready(function(){
    // Activate Carousel
    $("#myCarousel").carousel();
    
    // Enable Carousel Indicators
    $(".item1").click(function(){
        $("#myCarousel").carousel(0);
    });
    $(".item2").click(function(){
        $("#myCarousel").carousel(1);
    });
    $(".item3").click(function(){
        $("#myCarousel").carousel(2);
    });
    $(".item4").click(function(){
        $("#myCarousel").carousel(3);
    });
    
    // Enable Carousel Controls
    $(".left").click(function(){
        $("#myCarousel").carousel("prev");
    });
    $(".right").click(function(){
        $("#myCarousel").carousel("next");
    });
});
</script>
